.container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  min-height: 640px;
  display: flex;
  align-items: center;
}

.banner {
  width: 872px;
  position: relative;
  top: -42px
}

.formWrapper {
  box-sizing: border-box;
  width: 400px;
  height: 480px;
  padding: 40px;
  position: relative;
  flex-shrink: 0;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(187,191,196,0.30);
  border-radius: 12px;
}

.brandName {
  font-size: 28px;
  color: #333333;
  font-weight: 500;
}

.hidden {
  display: none;
}

.passwordForm {
  margin-top: 24px;
}

.field {
  margin-top: 20px;
}

.tips {
  margin-top: 24px;
}

.otherWayWrapper {
  position: absolute;
  bottom: 24px;
  left: 40px;
  right: 40px;
  text-align: center;
  padding-top: 24px;
  border-top: 1px solid #D0D3D6;
}

.otherWayBtn {
  color: #709BFF;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.MFAForm {
  margin-top: 32px;
}
.avatarWrapper {
  text-align: center;
  margin-bottom: 24px;
}
