.main {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  min-height: 640px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
}

.banner {
  user-select: none;
  width: 872px;
  position: relative;
  top: -42px;
  flex-shrink: 0;
}

.banner img {
  -webkit-user-drag: none;
}

.formWrapper {
  box-sizing: border-box;
  width: 400px;
  height: 480px;
  padding: 40px;
  position: relative;
  flex-shrink: 0;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(187, 191, 196, 0.30);
  border-radius: 12px;
}

.brandName {
  font-size: 28px;
  color: #333333;
  font-weight: 500;
}

.hidden {
  display: none;
}

.passwordForm {
  margin-top: 24px;
}

.field {
  margin-top: 14px;
}

.tips {
  margin-top: 24px;
  text-align: center;
}

.otherWayWrapper {
  position: absolute;
  bottom: 24px;
  left: 40px;
  right: 40px;
  text-align: center;
  padding-top: 24px;
  border-top: 1px solid #D0D3D6;
}

.otherWayBtn {
  color: #709BFF;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.MFAForm {
  margin-top: 32px;
}

.avatarWrapper {
  text-align: center;
  margin-bottom: 24px;
}

.titleForMobile {
  display: none;
}

.jumpTips {
  text-align: center;
  margin-top: 220px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .titleForMobile {
    display: block;
    margin-top: 32px;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
    font-weight: 500;
    text-align: center;
  }

  .main {
    min-height: unset;
    overflow: hidden;
  }

  .container {
    min-height: unset;
    overflow: hidden;
  }

  .container {
    display: block;
    min-height: unset;
  }

  .formWrapper {
    margin: 63px auto 0;
    box-sizing: border-box;

    width: 345px;
    height: 400px;
    padding: 30px 20px;
    position: relative;
    flex-shrink: 0;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(187, 191, 196, 0.30);
    border-radius: 12px;
  }

  .MFAForm {
    margin-top: 40px;
  }

  .banner {
    display: inline-block;
    position: fixed;
    bottom: 0;
    top: unset;
    width: 100%;
  }

  .brandName {
    font-size: 24px;
  }

  .otherWayWrapper {
    bottom: 18px;
    padding-top: 16px;
  }

  .tips {
    margin-top: 32px;
  }
}

@media (max-height: 654px) {
  .banner {
    display: none !important;
  }
}
